* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
}

:root {
    --primaryFont: 'Poppins', sans-serif;
    --secondaryFont: 'Roboto', sans-serif;
    --blue: #004aad;
    --black: #171516;
    --yellow: #f9d949;
    --white: #f0f0f0;
    --red: #f30b00;
}

#toggle-btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    display: none;
}

.btn-whatsapp-pulse {
	background: #25d366;
	color: white;
	position: fixed;
	bottom: 20px;
	left: 20px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 20px;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}
.btn-call-pulse {
	background: #d2131b;
	color: white;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 20px;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse1;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}
@keyframes pulse1 {
	0% {
		box-shadow: 0 0 0 0 #d2131b;
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}

.btn-whatsapp-pulse-border {
	bottom: 20px;
	left: 20px;
	animation-play-state: paused;
}
.btn-call-pulse-border {
	bottom: 20px;
	right: 20px;
	animation-play-state: paused;
}

.btn-whatsapp-pulse-border::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	padding: 10px;
	border: 25px solid #25d366;
	opacity: 0.75;
	animation-name: pulse-border;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}
.btn-call-pulse-border::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	padding: 10px;
	border: 25px solid #d2131b;
	opacity: 0.75;
	animation-name: pulse-border;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse-border {
	0% {
		padding: 17px;
		opacity: 0.75;
	}
	75% {
		padding: 40px;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}


header{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 1000;
}
a {
    text-decoration: none !important;
    color: var(--black) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-blue {
    background-color: var(--blue);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.active1 {
    color: var(--red) !important;
}

.active2 {
    color: var(--red) !important;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.menu ul li a {
    padding: 10px 15px;
    font-weight: bold;
}

.menu ul li a:hover {
    color: var(--red) !important;
}

.bg {
    background-image: url('../images/bg.jpg') !important;
    height: 495px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.h-text h1{
    color: var(--white);
    font-weight: bolder;
    text-align: center;
    font-size: 60px !important;
    margin-bottom: 0;
    font-family: var(--secondaryFont);
}
.h-text2 h1 a{
    color: var(--white) !important;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
    font-family: var(--primaryFont);
    font-weight: 300;
    letter-spacing: 1px !important;
    font-size: 50px !important;
}

.h-text3 h1 {
    color: var(--yellow);
    font-weight: bolder;
    text-align: center;
    font-size: 24px !important;
    letter-spacing: 9.25px !important;
}

.hero-car {
    width: 400px;
    padding-top: 35px;
    z-index: 0;
}
.hero-car img{
    width: 100%;
    z-index: 0;
}



.best-in-city {
    background-color: var(--white);
    padding: 40px 0;
}

.best-text h2 {
    font-size: 36px !important;
    font-weight: bold !important;
    color: var(--black);
}

.best-text h1 {
    font-size: 46px !important;
    font-weight: bold !important;
    color: var(--black);
    margin-top: 15px;
}

.best-text p {
    color: var(--black);
    margin-top: 30px;
}

.read-more-btn {
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 8px 12px;
    background-color: var(--yellow);
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}

.book-now-box {
    display: flex;
    justify-content: end;
}

.black-box {
    color: var(--blue);

    padding: 0 25px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-family: var(--secondaryFont);
}

.black-box p {
    color: var(--white);
    font-size: 36px !important;
    font-weight: bold !important;
    padding-top: 20px;

}

.black-box input {

    border: none;
    color: whitesmoke;
    padding-top: 10px;
}







.cars-section {
    background-color: var(--blue);
    padding: 40px 0;
}

.car-heading h2 {
    font-weight: bold;
    color: var(--white);
    text-align: center;
    margin-bottom: 0;
    font-size: 30px !important;
}

.car-heading h1 {
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    text-align: center;
    font-size: 46px !important;
}

.car-row {
    padding-top: 40px;
}

.cars-title {
    margin-top: 50px;
}

.cars-title h1 {
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 30px !important;
    border-bottom: 5px solid var(--yellow);
    display: inline-block;
}

.cars-box {
    text-align: center;
}

.cars-box h1,
.cars-box h2 {
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 24px !important;
}

.cars-box h1 {
    padding-top: 20px;
}

.cars-box p {
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 16px !important;
    font-weight: 300;
}

.cars-box a {
    color: var(--black);
    font-family: var(--primaryFont);
    font-size: 18px !important;
    font-weight: bold;
    background-color: var(--white);
    padding: 8px 12px;
    width: 160px;
    display: inline-block;
}

.cars-box img {
    height: 110px;
    transition: 0.5s ease;
    cursor: pointer;
}
.cars-box img:hover { 
    transform: scale(1.1);

}

.cars-range {
    padding-top: 40px;
    display: flex;
}

.more-vehicle {
    background-color: #d3d3d3;
    border-radius: 10px;
    margin: 0px 15px;
    text-align: center;
}

.more-vehicle a {
    color: var(--black);
    font-family: var(--primaryFont);
    font-size: 18px !important;
    font-weight: bold;
    padding: 8px 12px;
    display: inline-block;
}

.part-1 {
    background-color: var(--white);
    border-radius: 10px;
    text-align: left;
    padding: 15px;
}

.part-1 h2 {
    font-weight: bold;
    color: var(--black);
    font-family: var(--secondaryFont);
    font-size: 18px !important;
}


.we-do-best {
    padding: 40px 0px 20px 0px;
}

.we-do-text {
    padding-bottom: 20px;
}

.we-do-text h2 {
    font-weight: bold;
    color: var(--yellow);
    text-align: center;
    margin-bottom: 0;
    font-size: 30px !important;
}

.we-do-text h1 {
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    text-align: center;
    font-size: 46px !important;
}

.bg-2 {
    background-image: url('../images/bg-2.jpg') !important;

    width: 100%;
    background-position: center;
    background-size: cover;
}

.best-box {
    margin: 20px;
    justify-content: center;
}

.icon {
    background-color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-text h2 {
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 24px !important;
}

.icon-text p {
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 16px !important;
    font-weight: 300;
}



.happy-client {
    background-color: var(--white);
    padding: 40px 0;
}

.happy-text h1 {
    font-weight: bold;
    color: var(--black);
    font-family: var(--secondaryFont);
    text-align: center;
    font-size: 40px !important;
}

.happy-text h2 {
    font-weight: bold;
    color: var(--blue);
    text-align: center;
    margin-bottom: 0;
    font-size: 30px !important;
}

.client-card {
    background-color: var(--black);
    border-radius: 15px;
    width: 400px;
    padding: 20px 0;
    border-right: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
}

.client-box {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.client-text h2 {
    font-weight: bold;
    color: var(--white);
    margin-bottom: 0;
    font-size: 30px !important;
}

.client-text p {
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 16px !important;
    font-weight: 300;
    margin: 0;
    text-align: justify;
}



.ready-to-receive {
    background-color: var(--blue);
    padding: 40px 0;
}

.ready-text h1 {
    font-weight: bold;
    color: var(--white);
    font-family: var(--primaryFont) !important;
    text-align: center;
    font-size: 30px !important;
}
.ready-text h2 a{
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: 30px !important;
    font-family: var(--secondaryFont) !important;
    color: var(--yellow) !important;
    width: 100%;
}


.footer {
    background-color: var(--black);
    padding: 55px 0;
}

.f-logo {
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.f-link h1 {
    font-weight: bold;
    color: var(--white);
    font-family: var(--primaryFont) !important;
    font-size: 30px !important;
    margin-bottom: 0;
}

.f-link p {
    font-weight: bold;
    color: var(--white);
    font-family: var(--primaryFont) !important;
    font-size: 16px !important;
    text-align: center;
    margin-top: 0;
}

.f-num {
    text-align: left !important;
}

.f-contact li img {
    padding-left: 4px;
}

.f-link ul {
    font-weight: 300;
    color: var(--white);
    font-family: var(--primaryFont) !important;
    font-size: 20px !important;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
}

.f-link ul li img {
    padding-right: 5px;
}

h1.f-big {
    text-align: center;
    font-size: 46px !important;
    padding-top: 10px;
}
.f-link a{
    color: var(--white) !important;
}

/* ######## cars page css ######### */
.honda {
    background-color: var(--blue);
}

.fcar-text h1 {
    font-size: 46px !important;
    font-family: var(--secondaryFont);
    color: var(--white);
}

.honda-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.hero-car1 {
    text-align: right;
}

.hero-car1 img {
    width: 320px;
}

.suv-cars {
    background-image: url('../images/bg.jpg') !important;
    padding-bottom: 40px;
    background-position: center;
    background-size: cover;
}

.seadn-cars {
    background-color: var(--blue);
    padding-bottom: 40px;
}

.tempo {
    background-image: url('../images/bg-2.jpg') !important;
    padding: 40px 0px;
    background-position: center;
    background-size: cover;
}

.box-bg {
    background-color: var(--white);
    padding: 20px;
    text-align: center;
}

.cars-box-sec h1,
.cars-box-sec h2 {
    font-weight: bold;
    color: var(--black);
    font-family: var(--secondaryFont);
    font-size: 24px !important;
}

.cars-box-sec img {
    height: 110px;
    transition: 0.5s ease !important;
}
.cars-box-sec img:hover{
    transform: scale(1.1) !important;
}

.cars-box-sec h1 {
    padding-top: 20px;
}

.cars-box-sec p {
    color: var(--black);
    font-family: var(--primaryFont);
    font-size: 16px !important;
    font-weight: 300;
}

.cars-box-sec a {
    color: var(--white) !important;
    font-family: var(--primaryFont);
    font-size: 18px !important;
    font-weight: bold;
    background-color: var(--blue);
    padding: 8px 12px;
    width: 160px;
    display: inline-block;
}

.cars-range-1 {
    padding-top: 40px;
    display: flex;
}

.more-vehicle-1 {
    border-radius: 10px;
    margin: 0px 15px;

}

.part-11 h2 {
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 30px !important;
    padding-bottom: 25px;
}

.r-box {
    padding: 40px 0px;
}

.r-cont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.r-cont img{
   width: 60px;
}
.r-cont p{
    margin: 0;
    padding: 0;
 }
 .r-cont span.num{
    text-align: center !important;
    color: var(--red);
    font-family: var(--secondaryFont);
    font-size: 46px;
    font-weight: 300;
    display: inline-block;
 }

.r-cont h5 {
    text-align: center;
    color: var(--blue);
    font-family: var(--secondaryFont);
    font-size: 20px;
}

.r-cont h2 {
    text-align: center !important;
    color: var(--red);
    font-family: var(--secondaryFont);
    font-size: 46px;
    font-weight: 300;
    display: inline-block;
}

.e-star {
    color: var(--blue);
}



/* ######### about us ######## */

.ab-bg {
    background-image: url('../images/bg.jpg') !important;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.ab-text{
    display:flex;
    justify-content: center;
}
.ab-text h1{
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 46px !important;
    padding: 15% 0;
}
.ab-us{
    background-color: var(--white);
}
.abus-text h1 {
    font-weight: bold;
    color: var(--black);
    font-family: var(--secondaryFont);
    font-size: 30px !important;
}
.abus-row{
    padding: 40px 0;
}
.abus-text p{
    text-align: justify;
}
.abus-img img{
    width: 350px;
}
.ranker-ab{
    background-color: var(--blue);
}
.r-box-ab {
    padding: 40px 0px;
}


.r-cont-ab img{
   width: 60px;
}
.r-cont-ab p{
    margin: 0;
    padding: 0;
 }
.r-cont-ab {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.r-cont-ab h5 {
    text-align: center;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 20px;
    font-weight: 300;
}
.r-cont-ab h2 {
    text-align: center !important;
    color: var(--yellow);
    font-family: var(--secondaryFont);
    font-size: 46px;
    font-weight: 300;
    display: inline-block;
}
.r-cont-ab span.num{
    text-align: center !important;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 46px;
    font-weight: 300;
    display: inline-block;
 }
.e-star-ab {
    color: var(--white);
}
.ab-map{
    width: 100%;
    padding:40px 0;
}
.submit-btn2{
    background-color: var(--blue)!important;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 10px;
}


/* ######### tours ######## */
.special{
    position: relative;
}
.sp-text h1{
    display: inline-block;
    background-color: var(--blue);
    color:var(--white);
    font-family: var(--secondaryFont);
    padding: 15px 30px;
}
.sp-tour{
    position: absolute;
    bottom: -45px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.tour-package{
    margin-top: 50px;
}
.tour-text h1{
    color: var(--black);
    font-family: var(--secondaryFont);
    font-size: 30px;
    font-weight: bold;
}
.tour-box{
    background-color: var(--blue);
    color: var(--white);
    margin: 10px 0;
    padding: 10px;
    border-radius: 12px;
}
.tour-box1{
    background-color: var(--white);
    color: var(--blue);
    margin: 10px 0;
    padding: 10px;
    border-radius: 12px;
}
.tour-img img{
    width: 100%;
    border-radius: 12px;
}
.tour-place{
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
}
.tour-place p{
    padding: 0;
    margin: 0;
    text-align: end;
}
.sp-diff{
    font-size: 20px;
}
.why-us{
    background-image: url('../images/why-us-bg.jpg');
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}
.why-row{
    padding: 10px;
}
.why-text h1{
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 36px !important;
    font-weight: bold;
    text-align: center;
}
.why-h2 {
    display: flex;
    align-items: center;
}
.why-h2 h2{
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 20px !important;
    font-weight: bold;
}
.why-img img{
    width: 100%;
}
.most-visited{
    background-color: var(--blue);
    padding: 30px 0;
}
.mv-text h2{
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 24px !important;
    font-weight: bold;
}
.place-link-box{
    background-color: var(--black);
    padding: 30px 0;
}
.place-text h2{
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 24px !important;
    font-weight: bold;
}
.place-ul ul {
    font-weight: 300;
    color: var(--white);
    font-family: var(--primaryFont) !important;
    font-size: 18px !important;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
}
.place-ul ul li img {
    padding-right: 5px;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1440px) {
    .f-logo img {
        width: 196px;
    }
    .abus-row{
        padding: 40px 0;
    }
    .abus-text{
        padding: 0px;
    }
    .abus-img img{
        width: 450px;
    }
    .abus-text h1{
        font-size: 32px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .cars-box img {
        height: auto;
        width: 150px;
    }

    .car-diff {
        margin-bottom: 15px;
    }

    .more-vehicle {
        margin: 0;
    }

    .icon {
        padding: 10px;
        width: 70px !important;
        height: 70px !important;
    }

    .client-card {
        width: 336px;
    }

    .f-logo img {
        width: 136px;
    }

    .f-contact img {
        padding-left: 0px;
    }

    .f-num {
        padding-left: 10px;
    }

    .f-link p {
        margin-left: 0;
    }

    /* cars-media */
    .cars-box-sec {
        padding: 0px;
    }

    .cars-box-sec p {
        line-height: 1.2;
    }

    .cars-box-sec h1 {
        font-size: 18px !important;
    }

    .cars-box-sec h2 {
        font-size: 18px !important;
    }

    .r-cont h2 {
        font-size: 40px;
    }

    .r-cont h3 {
        font-size: 30px;
    }


      /* ###### about us ###### */
    .abus-row{
        padding: 40px 0;
    }
    .abus-text{
        padding: 0px;
    }
    .abus-img img{
        width: 330px;
    }
    .abus-text h1{
        font-size: 25px !important;
    }
    .r-cont-ab h2 {
        font-size: 40px;
    }
    .r-cont-ab h3 {
        font-size: 30px;
    }

    .cars-box-sec img{
        height: 75px !important;
        transition: 0.5s ease !important;
    }

    .tour-place h3{
        font-size: 18px !important;
    }
    .tour-place p{
        font-size: 12px !important;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /* .black-box {
        width: 500px !important;
    } */

    .book-now-box {
        justify-content: center !important;
    }

    .cars-section {
        padding: 30px 0;
    }

    .cars-box {
        margin-bottom: 30px;
    }

    .icon {
        padding: 10px;
        width: 60px !important;
    }

    .icon-text h2 {
        padding-top: 10px;
        text-align: center;
    }

    .best-box {
        justify-content: center;
    }

    .client-pic {
        text-align: center;
    }

    .client-text {
        text-align: center;
        padding-top: 10px;
    }

    .happy-text h1 {
        font-size: 30px !important;
        margin: 0;
    }

    .client-card {
        width: 380px;
    }

    .f-logo img {
        width: 136px;
    }

    .f-link p {
        margin-left: 0;
    }


    /* cars-media */
    .fcar-text,
    .hero-car1 {
        text-align: center;
    }

    .box-bg {
        margin: 10px;
    }

    .tempo {
        padding: 0;
    }

    .cars-range-1 {
        padding: 0;
    }

    .suv-cars {
        padding: 20px 0;
    }

    .seadn-cars {
        padding: 20px 0;
    }

    .part-11 h2 {
        font-size: 24px !important;
        padding-bottom: 10px;
    }

    .cars-box-sec h1 {
        padding-top: 10px;
    }
    .cars-box-sec img{
        height: 80px !important;
        transition: 0.5s ease !important;
    }


      /* ###### about us ###### */
    .abus-img img{
        width: 500px;
    }
    .abus-text h1{
        font-size: 36px !important;
    }
    .abus-row{
        padding: 40px 0;
    }
    .abus-text{
        padding-top: 40px;
    }

     /* ###### tour css ###### */
    .why-img img {
        width: 200px;
    }
    .why-img{
        text-align: center;
    }
    .why-h2 h2 {
        text-align: center;
    }
    .why-h2{
        justify-content: center;
        padding: 10px 0;
    }
    .why-text{
        padding: 20px;
    }
    .tour-place h3{
        font-size: 30px !important;
    }
    .tour-place p{
        font-size: 18px !important;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 560px) {
    #toggle-btn {
        display: block;
        position: absolute;
        top: 22px;
        right: 22px;
    }

    .menu ul li a {
        padding: 5px 10px;
        display: block;
    }

    .logo img {
        width: 180px;
    }

    .bg {
        height: auto;
    }

    nav {
        flex-direction: column;
    }

    .hero-car {
        width: 280px;
    }


    .menu {
        display: none;
        width: 100%;
        text-align: right;
    }

    .menu ul {
        flex-direction: column;
    }

    .h-text h1 {
        font-size: 35px !important;
    }

    .h-text2 h1 a{
        font-size: 35px !important;
    }

    .h-text3 h1 {
        font-size: 16px !important;
        letter-spacing: 5.25px !important;
    }

    /* .black-box {
        width: 280px !important;
    } */

    .best-text h1 {
        font-size: 40px !important;
    }

    .best-text h2 {
        font-size: 30px !important;
    }

    .best-text p {
        text-align: justify;
    }

    .book-now-box {
        justify-content: center;
    }

    .cars-section {
        padding: 30px 0;
    }

    .car-heading h1 {
        font-size: 36px !important;
    }

    .cars-box {
        margin-bottom: 30px;
    }

    .cars-box p {
        text-align: justify;
    }

    .more-vehicle {
        width: 280px;
        margin: 0 auto;
    }

    .we-do-text h1 {
        font-size: 30px !important;
    }

    .best-box {
        justify-content: center;
    }

    .icon {
        padding: 10px;
        width: 60px !important;
    }

    .icon-text h2 {
        padding-top: 10px;
        text-align: center;
    }

    .client-pic {
        text-align: center;
    }

    .client-text {
        text-align: center;
        padding-top: 10px;
    }

    .happy-text h1 {
        font-size: 30px !important;
        margin: 0;
    }

    .client-card {
        width: 280px;
    }

    .f-logo img {
        width: 136px;
    }

    .f-contact img {
        padding-left: 0px;
    }

    .f-link p {
        margin-left: 0;
    }


    /* cars-media */
    .box-bg {
        margin: 10px;
    }

    .hero-car1 img {
        width: 220px;
    }

    .fcar-text h1 {
        font-size: 24px !important;
    }

    .cars-box-sec h1 {
        padding-top: 0px;
    }

    .cars-box-sec img {
        height: 80px !important;
        transition: 0.5s ease !important;
    }

    .cars-title h1 {
        font-size: 24px !important;
    }

    .car-row {
        padding-top: 10px;
    }

    .part-11 h2 {
        font-size: 24px !important;
        padding-bottom: 10px;
    }

    .tempo {
        padding: 0;
    }

    .cars-range-1 {
        padding: 0;
    }

    .suv-cars {
        padding: 20px 0;
    }

    .seadn-cars {
        padding: 20px 0;
    }

    .r-cont h3,
    .r-cont h2 {
        font-size: 20px !important;
    }

    /* ###### about us ###### */
    .abus-text,.abus-img {
        padding:10px;
    }
    .abus-text h1{
        font-size: 22px !important;
    }
    .abus-row {
        padding: 20px 0;
    }
    .abus-img{
        justify-content: center;
        display: flex;
    }
    .abus-img img{
        width: 320px;
    }
    .r-cont-ab h3,
    .r-cont-ab h2 {
        font-size: 20px !important;
    }

        /* tours-media */

    .sp-text h1{
        font-size: 18px !important;
    }
    .tour-box,.tour-box1{
        margin: 10px 20px;
    }
    .why-img img {
        width: 120px;
    }
    .why-img{
        text-align: center;
    }
    .why-h2 h2 {
        text-align: center;
    }
    .why-h2{
        justify-content: center;
        padding: 10px 0;
    }
    .why-text h1 {
        font-size: 28px !important;
    }
    .tour-place h3{
        font-size: 20px !important;
    }
    .tour-place p{
        font-size: 14px !important;
    }
    .tour-package {
        margin: 40px 0;
    }
}