*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
}
:root{
    --primaryFont:'Poppins', sans-serif;
    --secondaryFont:'Roboto', sans-serif;
    --blue: #004aad;
    --black: #171516;
    --yellow: #f9d949;
    --white: #f0f0f0;
    --red: #f30b00;
}
#toggle-btn{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    display: none;
}
a {
    text-decoration: none !important;
    color: var(--black) !important;
}
.bg-white{
    background-color: var(--white) !important;
}
.bg-blue{
    background-color: var(--blue);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.active1{
    color: var(--red)!important;
}
.menu ul{
    list-style-type: none;
    display: flex;
    margin: 0;
}
.menu ul li a{
    padding: 10px 15px;
    font-weight: bold;
}
.menu ul li a:hover{
    color: var(--red) !important;
}
.bg {
    background-image: url('../images/bg.jpg');
    height: 495px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.h-text h1,.h-text2 h1 {
    color: var(--white);
    font-weight: bolder;
    text-align: center;
    font-size: 60px !important;
    margin-bottom: 0;
    font-family: var(--secondaryFont);
}
.h-text2 h1{
    font-family: var(--primaryFont);
    font-weight: 300;
    letter-spacing: 1 !important;
    font-size: 50px !important;
}
.h-text3 h1{
    color: var(--yellow);
    font-weight: bolder;
    text-align: center;
    font-size: 24px !important;
    letter-spacing: 9.25px !important;
}
.hero-car{
    width: 465px;
    padding-top: 35px;
}




.best-in-city{
    background-color: var(--white);
    padding: 40px 0;
}
.best-text h2{
    font-size: 36px !important;
    font-weight: bold !important;
    color: var(--black);
}
.best-text h1{
    font-size: 46px !important;
    font-weight: bold !important;
    color: var(--black);
    margin-top: 15px;
}
.best-text p{
    color: var(--black);
    margin-top: 30px;
}
.read-more-btn{
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 8px 12px;
    background-color: var(--yellow);
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}
.book-now-box{
    display: flex;
    justify-content: end;
}
.black-box{
    width: 370px;
    background-color: var(--black);
    height: 340px;
    margin-top: 40px;
    padding: 0 20px;
}
.black-box p{
    color: var(--white);
    font-size: 36px !important;
    font-weight: bold !important;
    padding-top: 20px;
}
.black-box input{
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid beige;
    width: 100%;
    font-size: 24px;
    color: whitesmoke;
    padding-top: 10px;
}
.black-box input:focus {
    outline: none;
}
.submit-btn {
    color: var(--yellow) !important;
    font-size: 36px !important;
    font-weight: bold !important;
    padding-top: 20px;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    border: none;
}






.cars-section{
    background-color: var(--blue);
    padding:40px 0;
}
.car-heading h2{
    font-weight: bold;
    color: var(--white);
    text-align: center;
    margin-bottom: 0;
    font-size: 30px !important;
}
.car-heading h1{
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    text-align: center;
    font-size: 46px !important;
}
.car-row{
    padding-top:40px;
}
.cars-title{
    margin-top: 50px;
}
.cars-title h1{
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 30px !important;
    border-bottom: 5px solid var(--yellow);
    display: inline-block;
}
.cars-box{
    text-align: center;
}
.cars-box h1,.cars-box h2 {
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 24px !important;
}
.cars-box h1{
    padding-top: 20px;
}
.cars-box p{
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 16px !important;
    font-weight: 300;
}
.cars-box a{
    color: var(--black);
    font-family: var(--primaryFont);
    font-size: 18px !important;
    font-weight: bold;
    background-color: var(--white);
    padding: 8px 12px;
    width: 160px;
    display: inline-block;
}
.cars-box img{
    height: 110px;
}
.cars-range{
    padding-top: 40px;
    display: flex;
}
.more-vehicle{
    background-color: #d3d3d3;
    border-radius: 10px;
    margin: 0px 15px;
    text-align: center;
}
.more-vehicle a{
    color: var(--black);
    font-family: var(--primaryFont);
    font-size: 18px !important;
    font-weight: bold;
    padding: 8px 12px;
    display: inline-block;
}
.part-1{
    background-color: var(--white);
    border-radius: 10px;
    text-align: left;
    padding: 15px;
}
.part-1 h2{
    font-weight: bold;
    color: var(--black);
    font-family: var(--secondaryFont);
    font-size: 18px !important;
}


.we-do-best{
    padding: 40px 0px 20px 0px;
}
.we-do-text{
    padding-bottom: 20px;
}
.we-do-text h2{
    font-weight: bold;
    color: var(--yellow);
    text-align: center;
    margin-bottom: 0;
    font-size: 30px !important;
}
.we-do-text h1{
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    text-align: center;
    font-size: 46px !important;
}
.bg-2{
    background-image: url('/images/bg-2.jpg');

    width: 100%;
    background-position: center;
    background-size: cover;
}
.best-box{
    margin: 20px;
}
.icon{
    background-color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-text h2{
    font-weight: bold;
    color: var(--white);
    font-family: var(--secondaryFont);
    font-size: 24px !important;
}
.icon-text p{
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 16px !important;
    font-weight: 300;
}



.happy-client{
    background-color: var(--white);
    padding: 40px 0;
}
.happy-text h1{
    font-weight: bold;
    color: var(--black);
    font-family: var(--secondaryFont);
    text-align: center;
    font-size: 40px !important;
}
.happy-text h2{
    font-weight: bold;
    color: var(--blue);
    text-align: center;
    margin-bottom: 0;
    font-size: 30px !important;
}
.client-card{
    background-color: var(--black);
    border-radius: 15px;
    width: 400px;
    padding: 20px 0;
    border-right: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
}
.client-box{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.client-text h2{
    font-weight: bold;
    color: var(--white);
    margin-bottom: 0;
    font-size: 30px !important;
}
.client-text p{
    color: var(--white);
    font-family: var(--primaryFont);
    font-size: 16px !important;
    font-weight: 300;
    margin: 0;
}



.ready-to-receive{
    background-color: var(--blue);
    padding: 40px 0;
}
.ready-text h1, .ready-text h2{
    font-weight: bold;
    color: var(--white);
    font-family: var(--primaryFont)!important;
    text-align: center;
    font-size: 30px !important;
}
.ready-text h2{
    font-family: var(--secondaryFont);
    color: var(--yellow);
}
.footer{
    background-color: var(--black);
    padding: 40px 0;
}
.f-logo{
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    text-align: center;
}
.f-link h1{
    font-weight: bold;
    color: var(--white);
    font-family: var(--primaryFont)!important;
    font-size: 30px !important;
    margin-bottom: 0;
}
.f-link p{
    font-weight: bold;
    color: var(--white);
    font-family: var(--primaryFont)!important;
    font-size: 16px !important;
    text-align: center;
    margin-top: 0;
}
.f-num{
    text-align: left !important;
}
.f-contact{
    padding-top: 10px;
}
.f-contact img{
    padding-left: 18px;
}
.f-link ul{
    font-weight: 300;
    color: var(--white);
    font-family: var(--primaryFont)!important;
    font-size: 20px !important;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
}
.f-link ul li img{
    padding-right: 5px;
}
h1.f-big{
    text-align: center;
    font-size: 46px !important;
    padding-top: 10px;
}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1440px) {
    .f-logo img{
        width: 196px;
    }
    .f-link p{
        margin-left: 26px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .cars-box img {
        height: auto;
        width: 150px;
    }
    .car-diff{
        margin-bottom: 15px;
    }
    .more-vehicle{
        margin: 0;
    }
    .icon{
        padding: 10px;
        width: 70px !important;
        height: 70px !important;
    }
    .client-card{
        width: 336px;
    }
    .f-logo img{
        width: 136px;
    }
    .f-contact img {
        padding-left: 0px;
    }
    .f-num{
        padding-left: 10px;
    }
    .f-link p{
        margin-left: 0;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .black-box{
        width:500px !important;
    }
    .book-now-box{
        justify-content: center !important;
    }
    .cars-section{
        padding: 30px 0;
    }
    .cars-box {
        margin-bottom: 30px;
    }
    .icon{
        padding: 10px;
        width: 60px !important;
    }
    .icon-text h2 {
        padding-top: 10px;
        text-align: center;
    }
    .best-box {
        justify-content: center;
    }
    .client-pic {
        text-align: center;
    }
    .client-text{
        text-align: center;
        padding-top: 10px;
    }
    .happy-text h1 {
        font-size: 30px !important;
        margin: 0;
    }
    .client-card{
        width: 380px;
    }
    .f-logo img{
        width: 136px;
    }
    .f-link p{
        margin-left: 0;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 560px) {
    #toggle-btn{
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    nav{
        flex-direction: column;
    }
    .menu{
        display: none;
        width: 100%;
        text-align: right;
    }
    .menu ul{
        flex-direction: column;
    }
    .h-text h1{
        font-size: 40px !important;
    }
    .h-text2 h1{
        font-size: 40px !important;
    }
    .h-text3 h1{
        font-size: 16px !important;
        letter-spacing: 5.25px !important;
    }
    .black-box{
        width:400px !important;
    }
    .best-text h1 {
        font-size: 40px !important;
    }
    .best-text h2 {
        font-size: 30px !important;
    }
    .best-text p {
        text-align: justify;
    }
    .book-now-box {
        justify-content: center;
    }
    .cars-section{
        padding: 30px 0;
    }
    .car-heading h1{
        font-size: 36px !important;
    }
    .cars-box {
        margin-bottom: 30px;
    }
    .cars-box p {
        text-align: justify;
    }
    .more-vehicle {
        width: 370px;
        margin: 0 auto;
    }
    .we-do-text h1 {
        font-size: 30px !important;
    }
    .best-box {
        justify-content: center;
    }
    .icon{
        padding: 10px;
        width: 60px !important;
    }
    .icon-text h2 {
        padding-top: 10px;
        text-align: center;
    }
    .client-pic {
        text-align: center;
    }
    .client-text{
        text-align: center;
        padding-top: 10px;
    }
    .happy-text h1 {
        font-size: 30px !important;
        margin: 0;
    }
    .client-card{
        width: 380px;
    }
    .f-logo img{
        width: 136px;
    }
    .f-contact img {
        padding-left: 0px;
    }
    .f-link p{
        margin-left: 0;
    }
}

